<!DOCTYPE html>
<head>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />
  <title>Filo white-labelled SDK example</title>
  <script
    async=""
    src="https://storage.googleapis.com/filo-website-asset/sdk-plugin-script.v1.min.js"
  ></script>
  <script>
    const partnerId = "test-partner"; // your filo partner id
    const url = "https://test-partner.staging.student.askfilo.com"; // your filo app url.

    window.addEventListener("load", (event) => {
      const savedToken = sessionStorage.getItem("filo-token") || "";
      const savedTokenTTL = parseInt(sessionStorage.getItem("expiry") || "0");
      const savedUid = sessionStorage.getItem("user-id");

      if (savedUid && savedToken !== "" && savedTokenTTL > Date.now() / 1000) {
        document.getElementById("saved-user-details").style.display = 'block';
        document.getElementById("saved-uid").innerText = savedUid;
      } else {
        document.getElementById("saved-user-details").style.display = 'none';
      }
    });

    function onButtonClick() {
      let uid = document.getElementById("uid").value;

      if ((uid || "") === "") {
        alert("User id is not provided. Please provide user ID");
        return;
      }

      console.log("Saved token not valid, fetching new one.");
      fetch("/users/filo/token", { headers: { "user-id": uid } }).then(
        async (res) => {
          if (res.status !== 200) {
            console.error("Unable to get token from server", {
              code: res.status,
            });
            alert("Unable to get token from server");
            return;
          }
          const { token, expiry } = await res.json();
          sessionStorage.setItem("filo-token", token);
          sessionStorage.setItem("expiry", expiry);
          sessionStorage.setItem("user-id", uid);

          document.getElementById("ask-question-bt").style.display = 'block';
          // window.openFiloSdk(partnerId, token, url, question || "");
        },
        (err) => {
          console.error("Unable to get filo token for user:", err);
          alert("Unable to get token from server");
        }
      );
    }

    function openFilo() {
      const savedToken = sessionStorage.getItem("filo-token") || "";
      const savedTokenTTL = parseInt(sessionStorage.getItem("expiry") || "0");
      const savedUid = sessionStorage.getItem("user-id");
      let question = document.getElementById("question")?.value;

      if (savedUid && savedToken !== "" && savedTokenTTL > Date.now() / 1000) {
        window.openFiloSdkTab(partnerId, savedToken, url, question || "");
      }
    }
  </script>
</head>
<body>
  <div>
    <h1>Demo white-labelled Filo APP</h1>

    <label for="question">Question</label>
    <input id="question" type="text" /><br /><br />

    <div id="saved-user-details">
      <h3>Saved user details</h3>
      UID: <span id="saved-uid"></span><br/>
      <button onclick="openFilo()">Ask question</button>
      <br/><br/>
    </div>

    <hr/>

    <h3>Open enter user details below</h3>

    <label for="uid">User Id</label>
    <input id="uid" type="text" /><br /><br />

    <button onclick="onButtonClick()">Generate token</button> <br/>
    <button id="ask-question-bt" onclick="openFilo()" style="display: none;">Ask question</button>
    <br /><br />
    <div id="error"></div>
    <br /><br /><br />
  </div>
</body>
